<!doctype html>
<html lang="sv">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ .Page.Title }}</title>
	{{ $style := resources.Get "style.min.css" }}
	<link rel="stylesheet" href="{{ $style.Permalink }}" media="print" onload="this.media='all'">
	{{ if .Params.podcast }}
		{{ $audio := resources.Get "essential_audio.css" }}
		<link rel="stylesheet" href="{{ $audio.Permalink }}" media="print" onload="this.media='all'">
	{{ end }}
	{{ with .OutputFormats.Get "rss" -}}
  		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	
	<meta name="title" content="{{ .Page.Title }}">
	<meta name="description" content="{{ .Page.Summary }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ .Page.Permalink }}">
	<meta property="og:title" content="{{ .Page.Title }}">
	<meta property="og:description" content="{{ .Page.Summary }}">
	<!-- <meta property="og:image" content=""> -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{ .Page.Permalink }}">
	<meta property="twitter:title" content="{{ .Page.Title }}">
	<meta property="twitter:description" content="{{ .Page.Summary }}">
	<!-- <meta property="twitter:image" content=""> -->
	
	<link rel="apple-touch-icon" sizes="57x57" href="https://media.gnistor.se/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="https://media.gnistor.se/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://media.gnistor.se/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://media.gnistor.se/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://media.gnistor.se/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://media.gnistor.se/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://media.gnistor.se/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://media.gnistor.se/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://media.gnistor.se/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="https://media.gnistor.se/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://media.gnistor.se/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="https://media.gnistor.se/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://media.gnistor.se/favicon-16x16.png">
	<link rel="manifest" href="https://media.gnistor.se/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="https://media.gnistor.se/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

<style type="text/css">
	{{ range $name, $taxonomy := .Site.Taxonomies.locations }}
		[data-filter="{{ lower $name }}"] ul#list li.event:not(.{{ lower $name }}) {
			display: none;
		}
		[data-filter="{{ lower $name }}"] ul#filter li.{{ lower $name }} {
			background: black;
			color: white;
			border-color: black;
		}
		[data-filter="{{ lower $name }}"] ul#filter li.{{ lower $name }}:hover {
			background: white;
			color: black;
			border-color: lightgray;
		}
	{{ end }}
	</style>

</head>

<body class="text-dark bg-base">
	{{ partial "nav.html" . }}
	
	{{ block "main" . }}
	{{ end }}
	
	{{ partial "footer.html" . }}
	
	{{ $script := resources.Get "script.js" }}
	<script src="{{ $script.Permalink }}" defer> </script>
</body>

</html>