<!doctype html>
<html>
<head lang="sv">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ .Page.Title }}</title>
	{{ $style := resources.Get "style.css" }}
	<link rel="stylesheet" href="{{ $style.Permalink }}" media="print" onload="this.media='all'"> 
	{{ $audio := resources.Get "essential_audio.css" }}
	<link rel="stylesheet" href="{{ $audio.Permalink }}" media="print" onload="this.media='all'">
	{{ with .OutputFormats.Get "rss" -}}
  		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	
	<meta name="title" content="{{ .Page.Title }}">
	<meta name="description" content="{{ .Page.Summary }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ .Page.Permalink }}">
	<meta property="og:title" content="{{ .Page.Title }}">
	<meta property="og:description" content="{{ .Page.Summary }}">
	<!-- <meta property="og:image" content=""> -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{ .Page.Permalink }}">
	<meta property="twitter:title" content="{{ .Page.Title }}">
	<meta property="twitter:description" content="{{ .Page.Summary }}">
	<!-- <meta property="twitter:image" content=""> -->

</head>

<body class="text-dark bg-base">
	{{ partial "nav.html" . }}
	
	{{ block "main" . }}
	{{ end }}
	
	{{ partial "footer.html" . }}
	
	{{ $script := resources.Get "script.js" }}
	<script src="{{ $script.Permalink }}" defer> </script>
	{{ $audio := resources.Get "essential_audio.js" }}
	<script src="{{ $audio.Permalink }}" defer> </script>
</body>
</html>