{{ define "main" }}
<article>
	
	<div class="container mx-auto px-6 grid grid-cols-1 md:grid-cols-10 gap-x-28 gap-y-12">
		<article class="md:col-span-6 text-sm md:text-base leading-snug">
			<h1 class="font-bold text-3xl md:text-5xl my-3">{{ .Title }}</h1>
			{{ if ( eq .Type "event" ) }}
				<div class="flex flex-row gap-5 md:gap-7 justify-evenly my-9">
					<div class="bg-opace flex-none w-14 md:w-16 rounded-2xl flex flex-col justify-center items-center">
						{{ if and (.Params.enddate) (ne (time .Params.enddate).Day .Date.Day) }}
							{{ $enddate := (time .Params.enddate) }}
							<div>
								<h3 class="tracking-tighter font-bold text-sm m-0">{{ .Date.Day }}-{{ $enddate.Day }}</h3>
							</div>
							{{ if ( eq (substr .Date.Month 0 3) (substr $enddate.Month 0 3) )}}
								<h4 class="text-xs m-0">{{ substr (time.Format "January" .Date) 0 3 | upper }}</h4>
							{{ else }}
								<h4 class="text-xs m-0">{{ substr (time.Format "January" .Date) 0 2 | upper }}-{{ substr (time.Format "January" $enddate) 0 1 | upper }}</h4>
							{{ end }}
						{{ else }}
							<h3 class="font-bold text-lg m-0">{{ .Date.Day }}</h3>
							<h4 class="text-xs md:text-sm m-0">{{ substr (time.Format "January" .Date) 0 3 | upper }}</h4>
						{{ end }}
					</div>
					<div class="flex-auto overflow-hidden text-sm">
						<p class="my-1 text-slate-500 truncate">
							<time datetime="{{ dateFormat "2006-01-02T03:04PM" .Date }}">
							{{ if and (.Params.enddate) (ne (time .Params.enddate).Day .Date.Day) }}
								{{ $enddate := (time .Params.enddate) }}
								{{ dateFormat "2 January" .Date }}
								– {{ dateFormat "2 January"  $enddate }}
							{{ else }}
								{{ dateFormat "2 January, 15:04" .Date }}
							{{ end }}
							</time>
						</p> 
						<p class="my-1 text-slate-500 truncate">
							{{ if .Params.organizer }} {{ .Params.organizer }}, {{ end }}
							{{ range (.GetTerms "locations") }}
								<a href="{{ .Permalink }}" class="underline hover:no-underline">{{ .Title }}</a>
							{{ end }}
						</p>
						
						{{ range (.GetTerms "forms") }}
							<a href="{{ .Permalink }}" class="inline-block rounded-full bg-dark hover:bg-opace text-white hover:text-dark px-2 py-1 leading-none text-xs">{{ .Title }}</a>
						{{ end }}
						
						{{ range (.GetTerms "topics") }}
							<a href="{{ .Permalink }}" class="inline-block rounded-full bg-orange hover:bg-opace text-white hover:text-dark px-2 py-1 leading-none text-xs">{{ .Title }}</a>
						{{ end }}
					</div>
				</div>
			{{ end }}
			<div id="content" class="my-9">
				{{ .Content }}
				{{ if .Params.addressName }}
				<h2>Adress</h2>
				<address>
					<p translate="no" typeof="schema:PostalAddress">
						<span property="schema:name">{{.Params.addressName}}</span><br>
						{{ if .Params.streetAddress }}
						<span property="schema:streetAddress">{{.Params.streetAddress}}</span><br>
						{{ end }}
						{{ if .Params.postalCode }}
						<span property="schema:postalCode">{{.Params.postalCode}}</span>
						{{ end }}
						{{ if .Params.addressRegion }}
						<span property="schema:addressLocality">{{.Params.addressRegion}}</span><br>
						{{ end }}
						{{ if .Params.addressCountry }}
						<abbr property="schema:addressCountry">{{.Params.addressCountry}}</abbr>
						{{ end }}
					</p>
				</address>
				{{ end }}
				
				{{ if .Params.source }}
					<p>Källa: <a href="{{.Params.source}}" target="_blank">{{.Params.source}}</a></p>
				{{ end }}
				
				{{ with .OutputFormats.Get "Calendar" }}
					<p>iCalendar: <a href="{{ .RelPermalink }}" type="text/calendar">{{ .Permalink }}</a></p>
				{{ end }}
			</div>
		</article>
		
		{{ partial "sidebar.html" . }}
	</div>
	
</article>
{{ end }}