{{ define "main" }}
{{ $podicon := resources.Get "/icons/podd-icon.webp" }}
<article>
	<div class="container mx-auto px-6">
		
		{{ if .Params.podcast }}
			<div class="my-6 flex flex-row items-center gap-6 rounded-lg">
				<div class="bg-opace rounded-2xl w-28 md:w-36 aspect-square overflow-hidden">
					<img src="{{ $podicon.RelPermalink }}" alt="Ikon för podcast" loading="lazy" />
				</div>
				<div class="essential_audio" data-url="{{ .Params.podcast }}"></div>
			</div>
		{{ end }}
		
		<h1 class="font-bold text-3xl md:text-5xl my-9">{{ .Title }}</h1>
		
		{{ if ( eq .Type "event" ) }}
			<div class="flex flex-row gap-5 md:gap-7 justify-evenly mb-6">
				<div class="bg-opace w-14 md:w-16 rounded-2xl gap-1 flex flex-col justify-center items-center">
				{{ if .ExpiryDate }}
					<div>
						<h3 class="leading-none font-bold text-sm m-0">{{ .Date.Day }}</h3>
						<h3 class="leading-none font-bold text-sm m-0">{{ .ExpiryDate.Day }}</h3>
					</div>
					{{ if ( eq (substr .Date.Month 0 3) (substr .ExpiryDate.Month 0 3) )}}
						<h4 class="text-xs m-0">{{ substr (time.Format "January" .Date) 0 3 | upper }}</h4>
					{{ else }}
						<h4 class="text-xs m-0">{{ substr (time.Format "January" .Date) 0 2 | upper }}</h4>
						<h4 class="text-xs m-0">{{ substr (time.Format "January" .Date) 0 1 | upper }}</h4>
					{{ end }}
				{{ else }}
					<h3 class="font-bold text-lg">{{ .Date.Day }}</h3>
					<h4 class="text-xs">{{ substr (time.Format "January" .Date) 0 3 | upper }}</h4>
				{{ end }}
			</div>
			<div class="flex-auto overflow-hidden text-sm">
				<p class="my-1 text-slate-500 truncate">
					{{ time.Format "2 January" .Date }}
					{{ if .ExpiryDate }}
					– {{ time.Format "2 January" .ExpiryDate }}
					{{ end }}
				</p> 
				<p class="my-1 text-slate-500 truncate">
					{{ if .Params.organizer }} {{ .Params.organizer }}, {{ end }}
					{{ range (.GetTerms "locations") }}
						<a href="{{ .Permalink }}" class="underline hover:no-underline">{{ .Title }}</a>
					{{ end }}
				</p>
				
				{{ range (.GetTerms "forms") }}
					<a href="{{ .Permalink }}" class="inline-block rounded-full bg-dark hover:bg-opace text-white hover:text-dark px-2 py-1 leading-none text-xs">{{ .Title }}</a>
				{{ end }}
			</div>
		</div>
		{{ end }}
	</div>

	<div id="content" class="container mx-auto px-6 grid grid-cols-1 md:grid-cols-10 gap-x-28 gap-y-12">
		<div class="md:col-span-6 text-sm md:text-base leading-snug">
			{{ .Content }}
		</div>
	</div>
	
</article>
{{ end }}