{{ $scratch := newScratch }}
{{ $circle := resources.Get "/icons/circle.svg" }}
{{ $podicon := resources.Get "/icons/podd-icon.webp" }}

<div class="container mx-auto px-6 my-9">
	<div class="grid grid-cols-1 md:grid-cols-10 gap-y-6 md:gap-x-28 md:gap-y-12">
	
		<div class="md:col-span-6">
			<h2 class="font-bold md:text-lg mb-6 md:mb-9">Kommande händelser</h2>
			<ul id="list" class="flex flex-col gap-9 md:gap-12 text-md">
				{{ range where . "Type" "event" }}
					{{ if (or (.Date.After now) (.ExpiryDate.After now)) }}
						{{ if (eq .Date.Month now.Month ) }}
						{{ end }}
						<li class="flex flex-row gap-5 md:gap-7 justify-evenly">
							<div class="bg-opace flex-none w-14 md:w-16 rounded-2xl flex flex-col justify-center items-center">
								{{ if .ExpiryDate }}
									<div>
										<h3 class="tracking-tighter font-bold text-sm m-0">{{ .Date.Day }}-{{ .ExpiryDate.Day }}</h3>
									</div>
									{{ if ( eq (substr .Date.Month 0 3) (substr .ExpiryDate.Month 0 3) )}}
										<h4 class="text-xs md:text-sm m-0">{{ substr .Date.Month 0 3 | upper }}</h4>
									{{ else }}
										<h4 class="text-xs md:text-sm m-0">{{ substr .Date.Month 0 2 | upper }}-{{ substr .ExpiryDate.Month 0 1 | upper }}</h4>
									{{ end }}
								{{ else }}
									<h3 class="font-bold text-lg md:text-2xl m-0">{{ .Date.Day }}</h3>
									<h4 class="text-xs md:text-sm m-0">{{ substr .Date.Month 0 3 | upper }}</h4>
								{{ end }}
							</div>
							<a class="flex-1 overflow-hidden text-xs md:text-sm" href="{{ .Permalink }}">
								<h2 class="text-sm md:text-base font-bold truncate">{{ .Title }}</h2>
								<p class="my-1 text-slate-500 truncate">
									{{ .Date.Format "15:04" }} – 
									{{ if .Params.organizer }} {{ .Params.organizer }}, {{ end }}
									{{ range (.GetTerms "locations") }}
										{{ .Title }}
									{{ end }}
								</p>
								
								{{ range (.GetTerms "forms") }}
									<span class="inline-block rounded-full bg-dark text-white px-2 py-1 leading-none text-xs">{{ .Title }}</span>
								{{ end }}
							</a>
						</li>
					{{ end }}
				{{ end }}
			</ul>
			<button id="load_more" class="underline hover:no-underline text-sm my-6">Visa fler</button>
		</div>
		
		<div class="md:col-span-4">
			<hr class="md:hidden mb-9" />
			<h2 class="font-bold md:text-lg mb-6 md:mb-9">September</h2>
			{{ $weekdays := dict "Monday" 0 "Tuesday" 1 "Wednesday" 2 "Thursday" 3 "Friday" 4 "Saturday" 5 "Sunday" 6 }}
			{{ $this_month := (now.AddDate 0 1 (int (sub now.Day (mul now.Day 2 )))) }}
			{{ $days_bf := index $weekdays (string $this_month.Weekday) }}
			{{ $days_af := (sub 35 (add (int $this_month.Day) $days_bf )) }}
			
			<div class="grid grid-cols-7 gap-1 text-xs my-6 md:my-9">
				<div class="flex justify-center items-center">Mån</div>
				<div class="flex justify-center items-center">Tis</div>
				<div class="flex justify-center items-center">Ons</div>
				<div class="flex justify-center items-center">Tor</div>
				<div class="flex justify-center items-center">Fre</div>
				<div class="flex justify-center items-center">Lör</div>
				<div class="flex justify-center items-center">Sön</div>
				
				{{ range seq $days_bf }}
					<div class="text-gray-200 flex justify-center items-center">-</div>
				{{ end }}
				{{ $pages := . }}
				
				{{ range seq $this_month.Day }}
					<div class="flex justify-center items-center">
						{{ $bgColor := "white text-dark" }}
						
						{{ $nowdate := . }}
						{{ $mapName := (string $nowdate) }}
						{{ range where $pages "Type" "event" }}
							{{ if .ExpiryDate }} 
								{{ if 
								(and
									(and 
										(or 
											(gt .ExpiryDate.Day $nowdate)
											(eq .ExpiryDate.Day $nowdate)
										)
										(or
											(gt $nowdate .Date.Day)
											(eq $nowdate .Date.Day)
										)
									)
									(eq .Date.Month $this_month.Month)
								)
								}}
									{{ $scratch.SetInMap $mapName .Permalink .Title }}
								{{ end }}
							{{ else }}
								{{ if
									(and
										(eq .Date.Day $nowdate)
										(eq .Date.Month $this_month.Month)
									)
								}}
									{{ $scratch.SetInMap $mapName .Permalink .Title }}
								{{ end }}
							{{ end }}
							
						{{ end }}
						
						{{ if $scratch.Get (string .) }}
							{{ $bgColor = "dark text-white" }}
						{{ end }}
						{{ if $scratch.Get (string .) }}
							{{ $event := $scratch.Get (string .) }}
							<div class="{{ $bgColor }} relative rounded-full w-6 h-6 flex justify-center items-center group relative">
								{{ . }}
								{{ if ( eq (string .) (string now.Day) ) }}
									<img src="{{ $circle.RelPermalink }}" class="w-6 h-6 absolute l-0" alt="Dagens datum" loading="lazy">
								{{ end }}
								
								
								<span class="tooltip {{ $bgColor }}">
									{{ range $permalink, $title := $event }}
										<div class="my-1">
											<a href="{{ $permalink }}" class="no-underline leading-tight hover:underline">{{ $title }}</a>
										</div>
									{{ end }}
								</span>
							</div>
						{{ else }}
							<div class="{{ $bgColor }} rounded-full w-6 h-6 flex justify-center items-center">
								{{ . }}
								
								{{ if ( eq (string .) (string now.Day) ) }}
									<img src="{{ $circle.RelPermalink }}" class="w-6 h-6 absolute l-0" alt="Dagens datum" loading="lazy">
								{{ end }}
							</div>
						{{ end }}
					</div>
				{{ end }}
				
				{{ range seq $days_af }}
					<div class="text-gray-200 flex justify-center items-center">-</div>
				{{ end }}
			</div>
			
			<div class="my-12 md:my-24">
				<hr class="md:hidden mb-9" />
				<h2 class="font-bold md:text-lg mb-6 md:mb-9">Senaste podcast</h2>
				
				<ul>
					{{ range where . "Type" "podcast" }}
					<li class="my-6">
						<a href="{{ .Permalink }}" class="flex flex-row items-center gap-6">
						<div class="bg-opace rounded-lg w-20 aspect-square overflow-hidden">
							<img src="{{ $podicon.RelPermalink }}" alt="Ikon för pod" width="65" height="65" loading="lazy" />
						</div>
						<div class="flex-col gap-1 truncate">
							<span class="block text-sm text-slate-500">{{ .Date.Format "2 January" }}</span>
							<span class="text-sm font-bold" >{{ .Title }}</span>
							<span class="block text-sm text-slate-500">Podcast</span>
						</div>
						</a>
					</div>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
</div>