<header>
	<div class="container mx-auto my-9 px-6">

		<nav class="flex flex-row justify-between items-center">
			<div class="font-bold text-2xl">
				<a href="/">
					{{ $asset := resources.Get "/logo.webp" }}
					<figure class="w-28 md:w-36 mb-6">
						<img alt="Gnistor" src="{{ $asset.RelPermalink }}" />
					</figure>
				</a>
			</div>
			<ul class="flex flex-row gap-6 text-sm font-bold">
			{{ range where .Site.RegularPages "Type" "page" }}
				<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
			{{ end }}
				<li><a href="/poddar">Podd</a></li>
			</ul>
		</nav>
		<hr class="my-6" />
	</div>
</header>