{{ $scratch := newScratch }}
{{ $circle := resources.Get "/icons/circle.svg" }}

<div class="md:col-span-4 order-first md:order-last">
	{{ if not ( eq .Kind "page" ) }}
	<div class="flex flex-col gap-3">
		<div class="flex flex-row gap-2 justify-start items-center">
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3">
				  <path fill-rule="evenodd" d="M3.792 2.938A49.069 49.069 0 0 1 12 2.25c2.797 0 5.54.236 8.209.688a1.857 1.857 0 0 1 1.541 1.836v1.044a3 3 0 0 1-.879 2.121l-6.182 6.182a1.5 1.5 0 0 0-.439 1.061v2.927a3 3 0 0 1-1.658 2.684l-1.757.878A.75.75 0 0 1 9.75 21v-5.818a1.5 1.5 0 0 0-.44-1.06L3.13 7.938a3 3 0 0 1-.879-2.121V4.774c0-.897.64-1.683 1.542-1.836Z" clip-rule="evenodd" />
				</svg>
			</div>
			<h2 class="font-bold md:text-lg">Filtrera</h2>
		</div>
		<ul id="filter" class="m-0 flex gap-1 flex-wrap">
			{{ range $name, $taxonomy := .Site.Taxonomies.locations }}
				<li class="{{ lower $name }}">{{ $name }}</li>
			{{ end }}
		</ul>
	</div>
	
	<hr class="hidden md:block md:my-9" />
	{{ end }}
	
	{{ if gt (len .Site.Taxonomies.topics ) 0 }}
		
		<div class="hidden md:flex flex-col gap-3">
			<div class="flex flex-row gap-1 justify-start items-center">
				<h2 class="font-bold md:text-lg">Samlingar</h2>
			</div>
			<ul id="topics" class="m-0 flex gap-1 flex-wrap">
				{{ range $name, $taxonomy := .Site.Taxonomies.topics }}
					<li>
						<a hreF="/topics/{{ $name }}">{{ $name }}</a>		
					</li>
				{{ end }}
			</ul>
		</div>
	
	{{ end }}
	
	
	<hr class="mt-9 md:my-9" />
	
	<div class="hidden md:block">
		{{ $weekdays := dict "Monday" 0 "Tuesday" 1 "Wednesday" 2 "Thursday" 3 "Friday" 4 "Saturday" 5 "Sunday" 6 }}
		{{ $months := dict "January" "Januari" "February" "Februari" "March" "Mars" "April" "April" "May" "Maj" "June" "Juni" "July" "Juli" "August" "Augusti" "September" "September" "October" "Oktober" "November" "November" "December" "December" }}
		{{ $first_day_this_month := (now.AddDate 0 0 (int (add (sub now.Day (mul now.Day 2 )) 1))) }}
		{{ $last_day_this_month := (now.AddDate 0 1 (int (sub now.Day (mul now.Day 2 )))) }}
		{{ $days_bf := index $weekdays (string $first_day_this_month.Weekday) }}
		<h2 class="font-bold md:text-lg mb-6 md:mb-9">{{ index $months ( string $first_day_this_month.Month ) }}</h2>
		
		<div class="grid grid-cols-7 gap-1 text-xs my-6 md:my-9">
			<div class="flex justify-center items-center">Mån</div>
			<div class="flex justify-center items-center">Tis</div>
			<div class="flex justify-center items-center">Ons</div>
			<div class="flex justify-center items-center">Tor</div>
			<div class="flex justify-center items-center">Fre</div>
			<div class="flex justify-center items-center">Lör</div>
			<div class="flex justify-center items-center">Sön</div>
			
			{{ range seq $days_bf }}
				<div class="text-gray-200 flex justify-center items-center">-</div>
			{{ end }}
			{{ $pages := .Site.RegularPages.ByDate }}
			
			{{ range seq $last_day_this_month.Day }}
				<div class="flex justify-center items-center">
					{{ $bgColor := "white text-dark" }}
					
					{{ $nowdate := . }}
					{{ $mapName := (string $nowdate) }}
					{{ range where $pages "Type" "event" }}
						{{ if isset .Params "enddate" }}
							{{ $enddate := (time .Params.enddate) }}
							{{ if 
							(and
								(and 
									(or 
										(gt $enddate.Day $nowdate)
										(eq $enddate.Day $nowdate)
									)
									(or
										(gt $nowdate .Date.Day)
										(eq $nowdate .Date.Day)
									)
								)
								(eq .Date.Month $last_day_this_month.Month)
								(eq .Date.Year $last_day_this_month.Year)
							)
							}}
								{{ $scratch.SetInMap $mapName .Permalink .Title }}
							{{ end }}
						{{ else }}
							{{ if
								(and
									(eq .Date.Day $nowdate)
									(eq .Date.Month $last_day_this_month.Month)
									(eq .Date.Year $last_day_this_month.Year)
								)
							}}
								{{ $scratch.SetInMap $mapName .Permalink .Title }}
							{{ end }}
						{{ end }}
						
					{{ end }}
					
					{{ if $scratch.Get (string .) }}
						{{ $bgColor = "dark text-white" }}
					{{ end }}
					{{ if $scratch.Get (string .) }}
						{{ $event := $scratch.Get (string .) }}
						<div class="{{ $bgColor }} rounded-full w-6 h-6 flex justify-center items-center group relative">
							{{ . }}
							{{ if ( eq (string .) (string now.Day) ) }}
								<img src="{{ $circle.RelPermalink }}" class="w-9 h-9 max-w-none absolute l-0" alt="Dagens datum" loading="lazy">
							{{ end }}
							
							<span class="tooltip {{ $bgColor }}">
								{{ range $permalink, $title := $event }}
									<div class="my-1">
										<a href="{{ $permalink }}" class="no-underline leading-tight hover:underline">{{ $title }}</a>
									</div>
								{{ end }}
							</span>
						</div>
					{{ else }}
						<div class="{{ $bgColor }} rounded-full w-6 h-6 flex justify-center items-center">
							{{ . }}
							
							{{ if ( eq (string .) (string now.Day) ) }}
								<img src="{{ $circle.RelPermalink }}" class="w-6 h-6 absolute l-0" alt="Dagens datum" loading="lazy">
							{{ end }}
						</div>
					{{ end }}
				</div>
			{{ end }}
		</div>
	</div>
</div>
